
OracleDB/

Client/Library/

Client/obj/

.vs/

Client/Logs/

Client/ProjectSettings/

Client/UserSettings/

Client/Temp/

CerberusClient/Library/

CerberusClient/Logs/

CerberusClient/ProjectSettings/

CerberusClient/UserSettings/

Builds/
